/* product */

.product-remove {
  width: 50px;
  padding: 10px;
  text-align: center;
}

.product-thumbnail {
  width: 100px;
  text-align: center;
}

.product-name {
  text-align: left;
}

.product-price {
  text-align: right;
}

.product-quantity {
  width: 100px;
}

.product-subtotal {
  padding-right: 20px;
  text-align: right;
}
