* {
  padding: 0;
  margin: 0;
}

/*Header*/
.Header-Component {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: #616161;
  font-size: 16px;
}
.Header {
  display: flex;
  width: 1140px;
  height: 100px;
  justify-content: center;
  line-height: 100px;
  padding: 0 15px;
}

.Header-menu-list {
  list-style: none;
  display: flex;
}

.Header-menu-list li {
  padding: 0 15px;
}

.Header-menu-list li:hover {
  color: #eb8367;
}

.Header-menu {
  flex-grow: 1;
}

.Header-D {
  display: flex;
}

/*Logo*/
.Logo {
  flex-grow: 0;
}

.Logo img {
  padding: 30px 20px 30px 0;
}

/*Icon*/

.Search-icon {
  margin: auto 0;
}
