* {
  padding: 0;
  margin: 0;
}

/*Header*/
.Header-Component {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: #616161;
  font-size: 16px;
}

.Header {
  display: flex;
  width: 1140px;
  height: 100px;
  justify-content: center;
  line-height: 100px;
  padding: 0 15px;
}

.Header-menu-list {
  list-style: none;
  display: flex;
}

.Header-menu-list li a {
  padding: 0 15px;
  color: #616161;
}

.Header-menu-list li a:hover {
  color: #eb8367;
  text-decoration: none;
}

.Header-menu {
  flex-grow: 1;
}

.Header-D {
  display: flex;
}

/*Logo*/
.Logo {
  flex-grow: 0;
}

.Logo img {
  padding: 30px 20px 30px 0;
}

/*Icon*/

.Search-icon {
  margin: auto 0;
}

.Login-style {
  color: #616161;
  padding: 0 20px;
}

.Login-style:hover {
  color: #616161;
  text-decoration: none;
}

.menu-icon-style {
  margin: 36px 20px 10px 20px;
  font-size: 25px;
  display: none;
}

#check {
  display: none;
}

/* Card-Buy */

.amount {
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 100%;
  background-color: #eb8367;
}

/* Search Bar */

.Login-Search {
  position: relative;
}

.search-bar {
  position: absolute;
  right: 0;
  width: 200px;
  height: 40px;
  top: 100px;
  z-index: 1;
  padding: 3px 10px;
  display: none;
}

#check-search-bar {
  display: none;
}

#check-search-bar:checked ~ .search-bar {
  display: block;
}

.delete {
  width: 200px;
  height: 40px;
  display: none;
  padding: 3px 10px;
}

/* Latest Book */

.Latest-book {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 5px 30px 5px;
  border-bottom: 1px solid #ededed;
}

.Latest-book p {
  color: #a1a1a1;
}

.Latest-book h3 {
  font-size: 28px;
  font-weight: 0.8em;
  font-weight: 700;
}

/* end-homepage */

.end {
  padding: 20px 0;
}

.end-homepage {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.8;
  background-color: #f6f6f6;
  color: #616161;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
}

.end-homepage-style {
  max-width: 1170px;
}

.end-homepage-style a {
  color: #eb8367;
}

.end-homepage-style a:hover {
  text-decoration: none;
}

.component-menu {
  display: none;
}
/* Media */

@media (max-width: 800px) {
  /* Header */

  .Header-menu {
    display: none;
  }

  #check:checked ~ .component-menu {
    display: block;
    animation-name: delay;
    animation-delay: 1s;
  }

  .Header-menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  /* menu */

  .menu-icon-style {
    display: block;
  }
  .Login-Search {
    display: none;
  }

  .Login-style {
    display: none;
  }
  .Logo {
    flex-grow: 1;
  }
}
