.category-list li a {
  color: #888787;
  text-decoration: none;
}

.category-style p {
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0;
  font-style: italic;
}

.category-list li {
  margin: 10px 0;
  list-style: none;
}

.body-page {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.element {
  display: flex;
  max-width: 1170px;
}

.products-item {
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.category-style {
  width: 33.3%;
  padding: 30px 100px;
}

.products {
  width: 66.6%;
}

.filter-products {
  display: flex;
  padding: 0 100px;
}

.filter-products p {
  color: #888787;
  padding: 0 120px 0 20px;
}

.products h2 {
  font-weight: 700;
  padding: 60px 0;
}

.button-view-all {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 30px;
  margin-bottom: 35px;
  background: #eb8367;
  color: white;
}

.button-view-all:hover {
  color: white;
  text-decoration: none;
}
