/* review */
.review {
  max-width: 1170px;
}

.review h2 {
  margin: 0 0 30px;
  font-size: 1.5em;
  font-weight: 700;
}

.review p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.8;
  background-color: #f6f6f6;
  color: #616161;
}

/* review-text */

.review-text {
  display: flex;
  width: 100%;
}

/* text-review */

.text-left-review {
  width: 50%;
}

.text-right-review {
  width: 50%;
}

/* review-component */

.review-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* check-save */

.check-save {
  display: flex;
  padding: 15px 0;
}

.check-save input {
  margin-top: 7px;
  margin: 7px 10px;
}

/* star */

.all-star {
  display: flex;
}

.star {
  padding: 0 15px;
}

.one {
  border-left: none;
}
